TJClient/Web References/GwtjDoService/GwtjDoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoServiceGwtj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoServiceGwtjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoServiceGwtjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DoServiceGwtjSoapIn">
    <wsdl:part name="parameters" element="tns:DoServiceGwtj" />
  </wsdl:message>
  <wsdl:message name="DoServiceGwtjSoapOut">
    <wsdl:part name="parameters" element="tns:DoServiceGwtjResponse" />
  </wsdl:message>
  <wsdl:portType name="GwtjDoServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoServiceGwtj">
      <wsdl:input message="tns:DoServiceGwtjSoapIn" />
      <wsdl:output message="tns:DoServiceGwtjSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GwtjDoServiceSoap" type="tns:GwtjDoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoServiceGwtj">
      <soap:operation soapAction="http://tempuri.org/DoServiceGwtj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GwtjDoServiceSoap12" type="tns:GwtjDoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoServiceGwtj">
      <soap12:operation soapAction="http://tempuri.org/DoServiceGwtj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GwtjDoService">
    <wsdl:port name="GwtjDoServiceSoap" binding="tns:GwtjDoServiceSoap">
      <soap:address location="http://localhost:3699/GwtjDoService.asmx" />
    </wsdl:port>
    <wsdl:port name="GwtjDoServiceSoap12" binding="tns:GwtjDoServiceSoap12">
      <soap12:address location="http://localhost:3699/GwtjDoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>