TJClient/Web References/JKTJ/ClientDoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downLoadInfoByParm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rndPrefix" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yljgbm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="czList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downLoadInfoByParmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downLoadInfoByParmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downLoadInfoByParm_upload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rndPrefix" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yljgbm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="czList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downLoadInfoByParm_uploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downLoadInfoByParm_uploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Append">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppendResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoFileThread">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GuidStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yljgbm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoFileThreadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoFileThreadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="startThread">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GuidStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yljgbm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="startThreadResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUploadLoggerInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="czy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUploadLoggerInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUploadLoggerInfosResult" type="tns:ArrayOfLoggerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLoggerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LoggerInfo" nillable="true" type="tns:LoggerInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoggerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Czy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="downLoadInfoByParmSoapIn">
    <wsdl:part name="parameters" element="tns:downLoadInfoByParm" />
  </wsdl:message>
  <wsdl:message name="downLoadInfoByParmSoapOut">
    <wsdl:part name="parameters" element="tns:downLoadInfoByParmResponse" />
  </wsdl:message>
  <wsdl:message name="downLoadInfoByParm_uploadSoapIn">
    <wsdl:part name="parameters" element="tns:downLoadInfoByParm_upload" />
  </wsdl:message>
  <wsdl:message name="downLoadInfoByParm_uploadSoapOut">
    <wsdl:part name="parameters" element="tns:downLoadInfoByParm_uploadResponse" />
  </wsdl:message>
  <wsdl:message name="CreateFileSoapIn">
    <wsdl:part name="parameters" element="tns:CreateFile" />
  </wsdl:message>
  <wsdl:message name="CreateFileSoapOut">
    <wsdl:part name="parameters" element="tns:CreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="AppendSoapIn">
    <wsdl:part name="parameters" element="tns:Append" />
  </wsdl:message>
  <wsdl:message name="AppendSoapOut">
    <wsdl:part name="parameters" element="tns:AppendResponse" />
  </wsdl:message>
  <wsdl:message name="VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="VerifySoapOut">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="DoFileThreadSoapIn">
    <wsdl:part name="parameters" element="tns:DoFileThread" />
  </wsdl:message>
  <wsdl:message name="DoFileThreadSoapOut">
    <wsdl:part name="parameters" element="tns:DoFileThreadResponse" />
  </wsdl:message>
  <wsdl:message name="startThreadSoapIn">
    <wsdl:part name="parameters" element="tns:startThread" />
  </wsdl:message>
  <wsdl:message name="startThreadSoapOut">
    <wsdl:part name="parameters" element="tns:startThreadResponse" />
  </wsdl:message>
  <wsdl:message name="GetUploadLoggerInfosSoapIn">
    <wsdl:part name="parameters" element="tns:GetUploadLoggerInfos" />
  </wsdl:message>
  <wsdl:message name="GetUploadLoggerInfosSoapOut">
    <wsdl:part name="parameters" element="tns:GetUploadLoggerInfosResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientDoServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downLoadInfoByParm">
      <wsdl:input message="tns:downLoadInfoByParmSoapIn" />
      <wsdl:output message="tns:downLoadInfoByParmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downLoadInfoByParm_upload">
      <wsdl:input message="tns:downLoadInfoByParm_uploadSoapIn" />
      <wsdl:output message="tns:downLoadInfoByParm_uploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <wsdl:input message="tns:CreateFileSoapIn" />
      <wsdl:output message="tns:CreateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Append">
      <wsdl:input message="tns:AppendSoapIn" />
      <wsdl:output message="tns:AppendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:input message="tns:VerifySoapIn" />
      <wsdl:output message="tns:VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoFileThread">
      <wsdl:input message="tns:DoFileThreadSoapIn" />
      <wsdl:output message="tns:DoFileThreadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="startThread">
      <wsdl:input message="tns:startThreadSoapIn" />
      <wsdl:output message="tns:startThreadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUploadLoggerInfos">
      <wsdl:input message="tns:GetUploadLoggerInfosSoapIn" />
      <wsdl:output message="tns:GetUploadLoggerInfosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientDoServiceSoap" type="tns:ClientDoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downLoadInfoByParm">
      <soap:operation soapAction="http://tempuri.org/downLoadInfoByParm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downLoadInfoByParm_upload">
      <soap:operation soapAction="http://tempuri.org/downLoadInfoByParm_upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap:operation soapAction="http://tempuri.org/CreateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Append">
      <soap:operation soapAction="http://tempuri.org/Append" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://tempuri.org/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoFileThread">
      <soap:operation soapAction="http://tempuri.org/DoFileThread" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startThread">
      <soap:operation soapAction="http://tempuri.org/startThread" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUploadLoggerInfos">
      <soap:operation soapAction="http://tempuri.org/GetUploadLoggerInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientDoServiceSoap12" type="tns:ClientDoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downLoadInfoByParm">
      <soap12:operation soapAction="http://tempuri.org/downLoadInfoByParm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downLoadInfoByParm_upload">
      <soap12:operation soapAction="http://tempuri.org/downLoadInfoByParm_upload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap12:operation soapAction="http://tempuri.org/CreateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Append">
      <soap12:operation soapAction="http://tempuri.org/Append" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap12:operation soapAction="http://tempuri.org/Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoFileThread">
      <soap12:operation soapAction="http://tempuri.org/DoFileThread" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startThread">
      <soap12:operation soapAction="http://tempuri.org/startThread" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUploadLoggerInfos">
      <soap12:operation soapAction="http://tempuri.org/GetUploadLoggerInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientDoService">
    <wsdl:port name="ClientDoServiceSoap" binding="tns:ClientDoServiceSoap">
      <soap:address location="http://localhost:13652/ClientDoService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientDoServiceSoap12" binding="tns:ClientDoServiceSoap12">
      <soap12:address location="http://localhost:13652/ClientDoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>